# See http://help.github.com/ignore-files/ for more about ignoring files.

# local-machine file containing Strava access key (temporary workaround until normal access flow implemented)
/vendor/local_config.js

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# local Sublime Text project
*.sublime-project
*.sublime-workspace