<div class="row">
    <div class="col-xs-2">
        <div class="list-group sidebar-nav-fixed">
            <a class="list-group-item" href='#/'>Home</a>
            <a class="list-group-item" href='#/weekly'>Weekly</a>
            <a class="list-group-item" href='#/activities'>Activities</a>
            <a class="list-group-item" href='#/chart'>Chart</a>
        </div>
    </div>
    <div class="col-xs-10">
        {{outlet}}
    </div>
</div>
